<!doctype html>
<html>

<head>
	<meta name="viewport" content="width=device-width" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>{{subject}}</title>
</head>

<body>
	<h1>{{subject}}</h1>
	<p>{{greetings}}</p>
	<p>{{content}} <a href="{{url}}">{{url}}</a></p>
	<p>{{endings}}</p>
</body>

</html>
